@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #02343f;
}

.app {
  padding: clamp(1.5rem, 4vw, 4rem);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(127deg, #f0edcc 25%, rgba(249, 211, 180, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.search {
  width: 100%;
  max-width: 700px;
  margin: 2rem 0;

  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;
  border-radius: 3rem;
  background: #d5d5d5;
  
  box-shadow:
  5px 5px 7px #1c1d1f,
    -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  background: #d5d5d5;
  font-size: clamp(1rem, 2vw, 1.3rem);
  outline: none;
}

.search img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.empty {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty h2 {
  font-size: 1.35rem;
  color: #f0edcc;
  font-family: var(--font-raleway);
  text-align: left;
  margin: 1rem 0;
}

.empty .suggestions h3 {
  font-size: 1rem;
  color: #f0edcc;
  font-family: var(--font-raleway);
  text-align: left;
}

.container .footer-content {
  width: 100%;
  margin-top: 3rem;

  color: #f0edcc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.movie {
  width: 100%;
  height: 100%;
  min-height: 420px;

  position: relative;
  border-radius: 12px;
  overflow: hidden;

  transition: 0.4s ease;
}

.movie div:nth-of-type(1) {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background-color: #343739;
  padding: 16px 24px 24px 24px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie div:nth-of-type(3) span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background-color: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}
